<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstraps/4.3.1/js/bootstrap.min.js:"></script>
</head>
<body>
    <a href="admin_view"><Button>Go Back</Button></a>

    <div class="table-data">
<h2>Employee Details</h2>
    <table class="table table-dark table-stripped">
        <tr>
            <th>S.N</th>
            <th>Employee Id</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>State</th>
            <th>City</th>
            <th>No of greivances</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.emp_id %></td>
            <td><%=data.name %></td>
            <td><%=data.email %></td>
            <td><%=data.state %></td>
            <td><%=data.city %></td>
            <td><%=data.count %></td>
            <td><a href="/editss/<%=data.username%>">Edit</a></td>
            <td><a href="/deletess/<%=data.emp_id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>